:root {
  --primary-color: #202225;
  --secondary-color: #0f0;
  --tertiary-color: rgb(46, 142, 238);
  --bg-glass: #262b2f;
  --sky-color: rgb(21, 178, 229);
}

html,
body,
* {
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 3em;
}

body {
  background-color: var(--primary-color);
  color: #fff;
}

.txt-white {
  color: #fff !important;
}

.b {
  font-weight: bolder !important;
}

.b-large {
  font-size: 1rem !important;
  font-weight: 600;
}

a {
  text-decoration: none !important;
  color: inherit;
}
